themes {
    red-prod {
        text_unselected {
            base 255 245 245
            background 40 15 15
            emphasis_0 255 99 71
            emphasis_1 220 20 60
            emphasis_2 178 34 34
            emphasis_3 139 0 0
        }
        text_selected {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 182 193
            emphasis_1 255 105 97
            emphasis_2 255 99 71
            emphasis_3 255 215 0
        }
        ribbon_selected {
            base 255 255 255
            background 220 20 60
            emphasis_0 255 215 0
            emphasis_1 255 255 255
            emphasis_2 255 182 193
            emphasis_3 255 99 71
        }
        ribbon_unselected {
            base 255 245 245
            background 139 0 0
            emphasis_0 255 99 71
            emphasis_1 255 182 193
            emphasis_2 220 20 60
            emphasis_3 178 34 34
        }
        table_title {
            base 255 99 71
            background 0
            emphasis_0 255 215 0
            emphasis_1 255 182 193
            emphasis_2 220 20 60
            emphasis_3 255 255 255
        }
        table_cell_selected {
            base 255 255 255
            background 178 34 34
            emphasis_0 255 215 0
            emphasis_1 255 182 193
            emphasis_2 255 99 71
            emphasis_3 255 105 97
        }
        table_cell_unselected {
            base 255 245 245
            background 40 15 15
            emphasis_0 255 99 71
            emphasis_1 220 20 60
            emphasis_2 178 34 34
            emphasis_3 139 0 0
        }
        list_selected {
            base 255 255 255
            background 178 34 34
            emphasis_0 255 215 0
            emphasis_1 255 182 193
            emphasis_2 255 99 71
            emphasis_3 255 105 97
        }
        list_unselected {
            base 255 245 245
            background 40 15 15
            emphasis_0 255 99 71
            emphasis_1 220 20 60
            emphasis_2 178 34 34
            emphasis_3 139 0 0
        }
        frame_selected {
            base 255 99 71
            background 0
            emphasis_0 255 215 0
            emphasis_1 255 255 255
            emphasis_2 220 20 60
            emphasis_3 0
        }
        frame_highlight {
            base 255 215 0
            background 0
            emphasis_0 255 99 71
            emphasis_1 255 182 193
            emphasis_2 220 20 60
            emphasis_3 255 215 0
        }
        exit_code_success {
            base 50 205 50
            background 0
            emphasis_0 144 238 144
            emphasis_1 0 128 0
            emphasis_2 34 139 34
            emphasis_3 60 179 113
        }
        exit_code_error {
            base 255 0 0
            background 0
            emphasis_0 255 215 0
            emphasis_1 255 99 71
            emphasis_2 220 20 60
            emphasis_3 178 34 34
        }
        multiplayer_user_colors {
            player_1 255 99 71
            player_2 220 20 60
            player_3 178 34 34
            player_4 255 182 193
            player_5 255 105 97
            player_6 139 0 0
            player_7 255 160 122
            player_8 205 92 92
            player_9 250 128 114
            player_10 255 228 225
        }
    }
}